<%= form_for(@valid_access) do |f| %>
  <% if @valid_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valid_access.errors.count, "error") %> prohibited this valid_access from being saved:</h2>

      <ul>
      <% @valid_access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wish_list_id %><br>
    <%= f.number_field :wish_list_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
