<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_to_id %><br>
    <%=  collection_select(:request, :user_id, User.all, :id, :email , options ={:prompt => ""} ) %>
  </div>
  <div>
    <%= f.label :wish_list_id %><br>
    <%= collection_select(:request, :wish_list_id, WishList.all, :id, :name, options ={:prompt => ""}) %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
