<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Image:</strong>
<div class="image"><%= image_tag @item.image_url.to_s %></div>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Wish list:</strong>
  <% current_list = WishList.where("id = ?", @item.wish_list_id) %>
  <%= current_list.name %>
</p>

<% if current_user && current_user.id == @item.wish_list.user_id %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', mylists_wish_lists_path %>
